
/* Custom Base Styles ------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  height: 100%;
}
a {
  color: #333; 
  text-decoration: none;
}
h1, h2, h3 {
  padding-bottom: 15px;
}
p {
  margin: 10px 0;
}

/* Utility Classes ------------- */

.container {
  margin: auto;
  max-width: 1200px;
  /* So that it shows always under the whole of it's content */
  overflow: auto;
  /* So that when you decrease browser size under 1200px it doesn't hit the absolute edges */
  padding: 0 20px;
}
/* Consistent button styling for across the site */
.btn {
  display: inline-block;
  background:#333;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
.btn:hover {
  background: #444;
  color: #f7c08a;
}
.text-primary {
  color: #f7c08a;
}
.lead-text {
  font-size: 1.2em;
}
.bg-dark {
  background: #444;
}

/* Header Styles ------------ */

#navbar {
  background: #333;
  color: white;
  overflow: auto;
}
#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 15px;
}
#navbar ul {
  float: right;
  list-style: none;
}
#navbar ul li {
  float: left;
}
/* Need to display as block so that we can style the a element properly with padding */
/* Need to pad the a tag so that hover etc shows properly */
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover, 
#navbar ul li a.current-pg {
  background: #444;
  color: #f7c08a;
}

/* Homepage - Hero section ------- */

#hero-area {
  /* Add background hero img and darken it so text can be read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/apartment.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 50%;
  margin: auto;
  color: #fff;
  text-align: center;
  padding-top: 120px;
}
#hero-area h1 {
  font-size: 2.5em;
}
#hero-area p {
  padding: 0 50px 20px 50px;
}

/* Homepage - home-img section --------------- */
#home-info {
  height: 40%;
}
#home-info .info-img {
  width: 50%;
  float: left;
  background: url('../img/photo-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* So img takes up the whole space (and appears) */
  min-height: 100%;
}
#home-info .info-content {
  width: 50%;
  float: right;
  /* So it fills 100% of the hieght of the parent container */
  height: 100%;
  color: white;
  padding: 50px;
  overflow: hidden;
}
#home-info p:last-of-type {
  padding-bottom: 20px;
}